@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url("../../public/do8.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pathBlack img {
    fill: black;
    color: black;
}